<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="com.dmissoh.biologic.Application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/logo_16x16.gif">
         <run
               class="com.dmissoh.biologic.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.dmissoh.biologic.Perspective"
            id="BioLogic.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.dmissoh.biologic.category"
            name="BioLogic">
      </category>
      <view
            allowMultiple="false"
            category="com.dmissoh.biologic.category"
            class="com.dmissoh.biologic.view.RunningEventView"
            icon="icons/log_start.gif"
            id="BioLogic.navigationView"
            name="Running events">
      </view>
      <view
            allowMultiple="false"
            category="com.dmissoh.biologic.category"
            class="com.dmissoh.biologic.view.BackUpLogView"
            icon="icons/backuplog.gif"
            id="com.dmissoh.biologic.view.BackUpLogView"
            name="Logs">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Mail"
            id="BioLogic.category">
      </category>
      <command
            name="Open Mailbox"
            description="Opens a mailbox"
            categoryId="BioLogic.category"
            id="BioLogic.open">
      </command>
      <command
            name="Open Message Dialog"
            description="Open a message dialog"
            categoryId="BioLogic.category"
            id="BioLogic.openMessage">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="BioLogic.open"
            schemeId="biologic.scheme"
            sequence="CTRL+Shift+2">
      </key>
      <key
            commandId="BioLogic.openMessage"
            schemeId="biologic.scheme"
            sequence="CTRL+Shift+3">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="biologic.scheme"
            sequence="CTRL+TAB">
      </key>
      <key
            commandId="org.eclipse.ui.window.nextEditor"
            schemeId="biologic.scheme"
            sequence="SHIFT+TAB">
      </key>
      <scheme
            id="biologic.scheme"
            name="BioLogic Scheme">
      </scheme>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.dmissoh.biologic.Application"
            name="BioLogic">
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         <property
               name="windowImages"
               value="icons/logo_16x16.gif">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
         <property
               name="appName"
               value="BioLogic">
         </property>
         <property
               name="startupProgressRect"
               value="0,295,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
      </product>
   </extension>
    <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Utilities"
            visible="true"
            id="com.dmissoh.utils.actionSet">
         <menu
               id="com.dmissoh.biologic.menu"
               label="Utilities"
               path="additions">
         </menu>
         <action
               class="com.dmissoh.biologic.actions.ExportToExcelPulldownMenuAction"
               icon="icons/export_xsl.png"
               id="ExportXMLToolbar.ExportXMLPulldownAction"
               label="Export as CSV"
               style="pulldown"
               toolbarPath="exportToolbar/additions"
               tooltip="Export as CSV">
         </action>
         <action
               class="com.dmissoh.biologic.actions.OpenPreferencePageAction"
               icon="icons/keybinding.png"
               id="BioLogic.action1"
               label="Set key bindings..."
               style="push"
               toolbarPath="shortcut/additions">
         </action>
         <action
               class="com.dmissoh.biologic.actions.BackupAction"
               icon="icons/backup.png"
               id="com.dmissoh.biologic.actions.BackupAction"
               label="Backup"
               menubarPath="com.dmissoh.biologic.menu/additions"
               style="push">
         </action>
      </actionSet>
   </extension>
    <extension
          point="org.eclipse.ui.preferencePages">
       <page
             class="com.dmissoh.biologic.preferences.BiologicPreferencePage"
             id="com.dmissoh.biologic.preferences.BiologicPreferencePage"
             name="BioLogic">
       </page>
    </extension>
    <extension
          point="org.eclipse.ui.intro">
       <intro
             class="org.eclipse.ui.intro.config.CustomizableIntroPart"
             id="com.dmissoh.biologic.intro">
       </intro>
       <introProductBinding
             introId="com.dmissoh.biologic.intro"
             productId="com.dmissoh.biologic.product">
       </introProductBinding>
    </extension>
    <extension
          point="org.eclipse.ui.intro.config">
       <config
             content="introContent.xml"
             id="com.dmissoh.biologic.introConfigId"
             introId="com.dmissoh.biologic.intro">
          <presentation
                home-page-id="root">
             <implementation
                   kind="html"
                   os="win32,linux,macosx"
                   style="content/shared.css">
             </implementation>
          </presentation>
       </config>
    </extension>
    <extension
          point="org.eclipse.ui.editors">
       <editor
             class="com.dmissoh.biologic.editor.SequenceEditor"
             icon="icons/sequence_small.png"
             id="com.dmissoh.biologic.editor.SequenceEditor"
             name="Sequence">
       </editor>
       <editor
             class="com.dmissoh.biologic.editor.SequenceGraphicalEditor"
             icon="icons/graphicalEditor.png"
             id="com.dmissoh.biologic.editor.SequenceGraphicalEditor"
             name="Graphical Sequence">
       </editor>
    </extension>
    <extension
          point="org.eclipse.ui.viewActions">
       <viewContribution
             id="BioLogic.BackUpLogViewContribution"
             targetID="com.dmissoh.biologic.view.BackUpLogView">
          <action
                class="com.dmissoh.biologic.actions.RefreshViewAction"
                icon="icons/refresh.gif"
                id="com.dmissoh.biologic.actions.RefreshViewAction"
                label="Refresh"
                menubarPath="additions"
                style="push"
                toolbarPath="additions">
          </action>
          <action
                class="com.dmissoh.biologic.actions.OpenLogsFolderAction"
                icon="icons/logfolder.gif"
                id="com.dmissoh.biologic.actions.OpenLogsFolderAction"
                label="Open Logs Folder"
                menubarPath="additions"
                style="push"
                toolbarPath="additions">
          </action>
          <action
                class="com.dmissoh.biologic.actions.DeleteAllLogsAction"
                icon="icons/trash.gif"
                id="com.dmissoh.biologic.actions.DeleteAllLogsAction"
                label="Delete All Logs"
                menubarPath="additions"
                style="push"
                toolbarPath="additions">
          </action>
       </viewContribution>
    </extension>


</plugin>
